
.logo h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.title {
	font-family: 'Libre Franklin', sans-serif;
}

p {
  font-family: 'et-book', serif;
}

body {
	background-image: url("/images/hip-square/hip-square/hip-square.png");
	background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

.navbar {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: light;
	background-color: rgba(249, 245, 240, 0.8);
}

.footer {
	font-family: 'Libre Franklin', sans-serif;
	background-color: rgba(249, 245, 240, 0.8);
}

main {
    flex: 1;
}