{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <div class="tile is-ancestor">
			  <div class="tile is-4 is-parent">
				<div class="tile is-child">
				{{with .Site.Params.about}}
					<img src="{{ .image }}"></amp-img>
				{{ end }}
				</div>
			  </div>
			  <div class="tile is-parent">
				<div class="tile is-child box">
				  <p class="title">{{ .Title }}</p>
				  <p>{{ .Content }}</p>
				</div>
			  </div>
			</div>
        </div>
    </div>
</div>
{{ end }}